html, body{
    margin: 0;
    padding: 0;
    font-size: 62.5%;
    box-sizing: border-box;
    height: 100%;
    
    
}
header{
    background-color: #017ba0  ;
    border: 1rem solid grey;
    width: auto;
    height: 50rem;

    
}
span{
    margin: 0;
    padding: 0;
    width: auto;
    height: 100%;
    
  
}
img{
    display: block;
    margin: auto;
    padding: 0;
    width:calc(3008px/8);
    max-width:auto;
    max-height: auto;
    border: 1rem solid grey
}

@media only screen and (max-width:40rem){   
    header{
        background-color: #8ebde9;
    }
    span{ 
        width: auto;
        background-color: azure;
    }
    
    img{

        transform: translateY(calc(100%/2.3))    
    }
}
@media only screen and (min-width:40rem){
    header{
        background-color: #017ba0;
        
    }
    img{
        border: 1rem solid white;
        transform: translateY(calc(100%/2.5));
    }
    
}
@media only screen and (min-width:50rem){
    header{
        background-color: aliceblue;
    }
    img{
        border: 2rem break blue;
        transform: translateY(120px);
        
    }
}
    